html {
    /*font-family: verdana, arial, sans-serif;*/
    font-family: arial, sans-serif;
    font-size: 13px;
}

#ewma__ui_waiting {
    position: fixed;
    pointer-events: none;
    width: 100%;
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    z-index: 33554432;
}

#ewma__ui_waiting.lock {
    cursor: wait;
    pointer-events: all;
}

#ewma__ui_waiting.error {
    cursor: default;
    background-color: #000000;
    opacity: 0.5;
}

#ewma__ui_waiting__indicator {
    position: fixed;
    pointer-events: none;
    width: 100%;
    height: 2px;
    z-index: 33554432;

    background-color: rgba(255, 255, 255, 0.4);
}

#ewma__ui_waiting__indicator #ewma__ui_waiting__indicator_bar {
    width: 0;
    height: 2px;

    background-color: rgba(0, 0, 0, 0.68);
}

#ewma__ui_xhr_error {
    cursor: pointer;
    position: fixed;
    z-index: 33554433;
    width: 100%;
    padding: 20px;
    background-color: #3E0026;
    color: #FF9C97;
    font-size: 16px;
}

#ewma__ui_xhr_error:hover {
    background-color: #560037;
    color: #FFCED1;
}

#ewma__ui_xhr_error .line {
    margin-top: 13px;
}

#ewma__ui_xhr_error .line a {
    color: #B189AC;
    font-size: 14px;
    text-decoration: none;
}

#ewma__ui_console {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    z-index: 33554433;
    background-color: #091900;
    color: #01AB00;
    font-size: 13px;
    max-height: 50vh;
    overflow: auto;
}

#ewma__ui_console .message {
    margin: 5px 0 5px 10px;
    font-family: monospace;
}
